:root {
    --color-1: #2E2B2B;
    --color-2: #388186;
    --color-3: #A5E9E1;
    --color-4: #FDF6F6;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-4);
}

.back {
    margin-top: 30px;
}

.back button {
    color: var(--color-1);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-aid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-aid input {
    margin-top: 10px;
    height: 50px;
    width: 90%;
    background-color: #EAEAEA;
    color: black;
    border-radius: 5px;
    border: none;
    padding: 5px;
    z-index: 5;
}

.search-button {
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    z-index: 10;
    right: 10px; 
    position: absolute;
}

#results iframe {
    max-width: 370px;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}